<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48128396-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-48128396-5');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fontawesome-all.min.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <header>
          <a role="button" href="#hamMenu" class="navBtn" onclick="triggerHamburg()"><i class="fas fa-bars"></i></a>
      </header>
      <nav class="hamNav">
        <a type="button" onclick="hideNav()" ><i class="closeNav fas fa-times-circle" ></i></a>
        <ul>
            <li><a href="#travel-tips">Travel Tips</a></li>
            <li><a href="#murals">Murals</a></li>
            <li><a href="#coffee-land">Coffee Land</a></li>
            <li><a href="#bars">Bars</a></li>
            <li><a href="#food">Food</a></li>
            <li><a href="#breakfast">Breakfast</a></li>
            <li><a href="#lunch">Lunch</a></li>
            <li><a href="#dinner">Dinner</a></li>
            <li><a href="#shopping">Shopping</a></li>
            <li><a href="#great-american-downtown">Great American Downtown</a></li>
          </ul>
      </nav>
    <div class="wrapper">
      
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js?v=" | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ "/assets/js/hotdog.js?v=" | append: site.github.build_revision | relative_url }}"></script>
    <script>
      window.onpopstate = function(e){
        if(window.location.hash.includes("hamMenu")){
          showNav();
        } else{
          hideNav();
        }
      }
    </script>
  </body>
</html>
